h1 {
  text-align: center;
  margin-bottom: 50px;
}

#start-game {
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 30px;
}

.color-buttons {
  display: none;
}

#turn-display {
  text-align: center;
  margin-top: 50px;
}

.btn:focus {
  outline: none;
}

#score {
  text-align: center;
  font-size: 20px;
  margin-top: 25px;
}
